openapi: 3.2.0
info:
  title: CoworkingView Market API
  version: 1.0.0
  description: 'Read API for the CoworkingView catalogue plus the lead write path. Within a major version this contract is APPEND-ONLY: fields are added, never removed or retyped, because clients include mobile builds that cannot be recalled. A breaking change means /v2, with /v1 kept alive for at least two app releases.'
servers:
- url: https://api.coworkingview.com
  description: Production
- url: http://localhost:4000
  description: Local development
tags:
- name: Market
paths:
  /v1/market/rates:
    get:
      operationId: marketRates
      summary: Aggregated pricing per city (median/min/max by option type), snapshot only…
      description: 'Current market rates for a city: median, min and max published prices by workspace type. This is a snapshot, not a time series. sampleSize counts price points, not spaces. No API key.'
      tags:
      - Market
      parameters:
      - name: locale
        in: query
        required: true
        schema:
          type: string
          enum:
          - en
          - de
          - es
      - name: city
        in: query
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 200
          pattern: ^[a-z0-9-]+$
      - name: country
        in: query
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 200
          pattern: ^[a-z0-9-]+$
      - name: currency
        in: query
        required: false
        schema:
          type: string
          enum:
          - EUR
          - GBP
          - USD
          - CHF
          - VES
          - AED
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      cities:
                        type: array
                        items:
                          type: object
                          properties:
                            city:
                              type: object
                              properties:
                                slug:
                                  type: string
                                  minLength: 1
                                  maxLength: 200
                                  pattern: ^[a-z0-9-]+$
                                name:
                                  type: string
                              required:
                              - slug
                              - name
                              additionalProperties: false
                            countryCode:
                              type: string
                              minLength: 2
                              maxLength: 2
                            currency:
                              type: string
                              enum:
                              - EUR
                              - GBP
                              - USD
                              - CHF
                              - VES
                              - AED
                            byType:
                              type: array
                              items:
                                type: object
                                properties:
                                  optionType:
                                    type: string
                                    enum:
                                    - private_office
                                    - exclusive_bereich
                                    - fix_desk
                                    - flex_desk
                                    - day_pass
                                    - meeting_room
                                    - virtual_office
                                    - event_space
                                    - membership
                                  median:
                                    type: object
                                    properties:
                                      amount:
                                        type: number
                                        minimum: 0
                                      currency:
                                        type: string
                                        enum:
                                        - EUR
                                        - GBP
                                        - USD
                                        - CHF
                                        - VES
                                        - AED
                                    required:
                                    - amount
                                    - currency
                                    additionalProperties: false
                                  min:
                                    type: object
                                    properties:
                                      amount:
                                        type: number
                                        minimum: 0
                                      currency:
                                        type: string
                                        enum:
                                        - EUR
                                        - GBP
                                        - USD
                                        - CHF
                                        - VES
                                        - AED
                                    required:
                                    - amount
                                    - currency
                                    additionalProperties: false
                                  max:
                                    type: object
                                    properties:
                                      amount:
                                        type: number
                                        minimum: 0
                                      currency:
                                        type: string
                                        enum:
                                        - EUR
                                        - GBP
                                        - USD
                                        - CHF
                                        - VES
                                        - AED
                                    required:
                                    - amount
                                    - currency
                                    additionalProperties: false
                                  sampleSize:
                                    type: integer
                                    minimum: 0
                                    maximum: 9007199254740991
                                    description: How many priced properties of this optionType the aggregate is computed from. Low values mean low confidence — do not present as "the market rate" without surfacing this number.
                                required:
                                - optionType
                                - median
                                - min
                                - max
                                - sampleSize
                                additionalProperties: false
                            dayPass:
                              type: object
                              properties:
                                median:
                                  type: object
                                  properties:
                                    amount:
                                      type: number
                                      minimum: 0
                                    currency:
                                      type: string
                                      enum:
                                      - EUR
                                      - GBP
                                      - USD
                                      - CHF
                                      - VES
                                      - AED
                                  required:
                                  - amount
                                  - currency
                                  additionalProperties: false
                                sampleSize:
                                  type: integer
                                  minimum: 0
                                  maximum: 9007199254740991
                                  description: Sample size backing this median. See the top-level note on presenting aggregates.
                              required:
                              - median
                              - sampleSize
                              additionalProperties: false
                            meetingRoom:
                              type: object
                              properties:
                                median:
                                  type: object
                                  properties:
                                    amount:
                                      type: number
                                      minimum: 0
                                    currency:
                                      type: string
                                      enum:
                                      - EUR
                                      - GBP
                                      - USD
                                      - CHF
                                      - VES
                                      - AED
                                  required:
                                  - amount
                                  - currency
                                  additionalProperties: false
                                sampleSize:
                                  type: integer
                                  minimum: 0
                                  maximum: 9007199254740991
                                  description: Sample size backing this median. See the top-level note on presenting aggregates.
                              required:
                              - median
                              - sampleSize
                              additionalProperties: false
                            sampleSize:
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                              description: Total priced properties in this city backing the aggregate, across all option types.
                          required:
                          - city
                          - currency
                          - byType
                          - sampleSize
                          additionalProperties: false
                      totalProperties:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      totalPricePoints:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      asOf:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                    required:
                    - cities
                    - totalProperties
                    - totalPricePoints
                    - asOf
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      contractVersion:
                        type: string
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            exclusiveMinimum: 0
                            maximum: 9007199254740991
                          pageSize:
                            type: integer
                            exclusiveMinimum: 0
                            maximum: 9007199254740991
                          total:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          pageCount:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                        required:
                        - page
                        - pageSize
                        - total
                        - pageCount
                        additionalProperties: false
                      truncated:
                        type: boolean
                      seed:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                    - contractVersion
                    additionalProperties: false
                required:
                - data
                - meta
                additionalProperties: false
        '400':
          description: VALIDATION_FAILED
          content:
            application/problem+json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                    minimum: 400
                    maximum: 599
                  detail:
                    type: string
                  code:
                    type: string
                    enum:
                    - VALIDATION_FAILED
                    - NOT_FOUND
                    - RATE_LIMITED
                    - CHALLENGE_FAILED
                    - UPSTREAM_UNAVAILABLE
                    - INTERNAL_ERROR
                    - CLIENT_TOO_OLD
                    - IDEMPOTENCY_KEY_CONFLICT
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                      required:
                      - path
                      - message
                      additionalProperties: false
                  traceId:
                    type: string
                required:
                - type
                - title
                - status
                - code
                additionalProperties: false
        '429':
          description: RATE_LIMITED
          content:
            application/problem+json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                    minimum: 400
                    maximum: 599
                  detail:
                    type: string
                  code:
                    type: string
                    enum:
                    - VALIDATION_FAILED
                    - NOT_FOUND
                    - RATE_LIMITED
                    - CHALLENGE_FAILED
                    - UPSTREAM_UNAVAILABLE
                    - INTERNAL_ERROR
                    - CLIENT_TOO_OLD
                    - IDEMPOTENCY_KEY_CONFLICT
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                      required:
                      - path
                      - message
                      additionalProperties: false
                  traceId:
                    type: string
                required:
                - type
                - title
                - status
                - code
                additionalProperties: false
        '500':
          description: INTERNAL_ERROR
          content:
            application/problem+json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                    minimum: 400
                    maximum: 599
                  detail:
                    type: string
                  code:
                    type: string
                    enum:
                    - VALIDATION_FAILED
                    - NOT_FOUND
                    - RATE_LIMITED
                    - CHALLENGE_FAILED
                    - UPSTREAM_UNAVAILABLE
                    - INTERNAL_ERROR
                    - CLIENT_TOO_OLD
                    - IDEMPOTENCY_KEY_CONFLICT
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                      required:
                      - path
                      - message
                      additionalProperties: false
                  traceId:
                    type: string
                required:
                - type
                - title
                - status
                - code
                additionalProperties: false
        '502':
          description: UPSTREAM_UNAVAILABLE
          content:
            application/problem+json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                    minimum: 400
                    maximum: 599
                  detail:
                    type: string
                  code:
                    type: string
                    enum:
                    - VALIDATION_FAILED
                    - NOT_FOUND
                    - RATE_LIMITED
                    - CHALLENGE_FAILED
                    - UPSTREAM_UNAVAILABLE
                    - INTERNAL_ERROR
                    - CLIENT_TOO_OLD
                    - IDEMPOTENCY_KEY_CONFLICT
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                      required:
                      - path
                      - message
                      additionalProperties: false
                  traceId:
                    type: string
                required:
                - type
                - title
                - status
                - code
                additionalProperties: false
      x-cache:
        maxAge: 600
        staleWhileRevalidate: 3600
