{
  "openapi": "3.1.0",
  "info": {
    "title": "CoworkingView API",
    "version": "1.0.0",
    "description": "Read API for the CoworkingView catalogue plus the lead write path. Within a major version this contract is APPEND-ONLY: fields are added, never removed or retyped, because clients include mobile builds that cannot be recalled. A breaking change means /v2, with /v1 kept alive for at least two app releases."
  },
  "servers": [
    {
      "url": "https://api.coworkingview.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:4000",
      "description": "Local development"
    }
  ],
  "paths": {
    "/v1/config": {
      "get": {
        "operationId": "config",
        "summary": "Remote config, feature flags and the minimum supported build.",
        "description": "Remote configuration for official clients: feature flags and the minimum supported app build. Third-party agents can ignore this; catalogue reads do not depend on it. No API key.",
        "tags": [
          "config"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "minSupportedBuild": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "recommendedBuild": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "flags": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "boolean"
                          }
                        },
                        "message": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string"
                            },
                            "body": {
                              "type": "string"
                            },
                            "severity": {
                              "type": "string",
                              "enum": [
                                "info",
                                "warning",
                                "critical"
                              ]
                            }
                          },
                          "required": [
                            "title",
                            "body",
                            "severity"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "minSupportedBuild",
                        "flags"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "contractVersion": {
                          "type": "string"
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageSize": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "total": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageCount": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "page",
                            "pageSize",
                            "total",
                            "pageCount"
                          ],
                          "additionalProperties": false
                        },
                        "truncated": {
                          "type": "boolean"
                        },
                        "seed": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "contractVersion"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "UPSTREAM_UNAVAILABLE",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-cache": {
          "maxAge": 60,
          "staleWhileRevalidate": 60
        }
      }
    },
    "/v1/leads/contact": {
      "post": {
        "operationId": "contact",
        "summary": "General contact enquiry.",
        "description": "General contact enquiry (not tied to a specific space). Requires a Turnstile challenge token in production. Prefer inquiry when the user has already picked a listing. Safe to retry: send an `Idempotency-Key` header and a retried request with the SAME key and body replays the original response instead of creating a second lead; the same key with a DIFFERENT body returns 422 IDEMPOTENCY_KEY_CONFLICT. Omitting the header leaves behaviour unchanged.",
        "tags": [
          "leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "email": {
                    "type": "string",
                    "maxLength": 200,
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "phone": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "company": {
                    "type": "string",
                    "maxLength": 160
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "en",
                      "de",
                      "es"
                    ]
                  },
                  "attribution": {
                    "type": "object",
                    "properties": {
                      "firstTouch": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "lastTouch": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "source": {
                        "type": "string",
                        "enum": [
                          "web",
                          "app"
                        ]
                      },
                      "campaign": {
                        "type": "string",
                        "maxLength": 120
                      },
                      "viewedProperties": {
                        "maxItems": 50,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200,
                          "pattern": "^[a-z0-9-]+$"
                        }
                      }
                    },
                    "required": [
                      "source"
                    ]
                  },
                  "challengeToken": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "website": {
                    "type": "string",
                    "maxLength": 0
                  },
                  "subject": {
                    "type": "string",
                    "maxLength": 200
                  }
                },
                "required": [
                  "name",
                  "email",
                  "locale"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "received": {
                          "type": "boolean",
                          "const": true
                        },
                        "reference": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "received",
                        "reference"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "contractVersion": {
                          "type": "string"
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageSize": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "total": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageCount": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "page",
                            "pageSize",
                            "total",
                            "pageCount"
                          ],
                          "additionalProperties": false
                        },
                        "truncated": {
                          "type": "boolean"
                        },
                        "seed": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "contractVersion"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "CHALLENGE_FAILED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "IDEMPOTENCY_KEY_CONFLICT",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "UPSTREAM_UNAVAILABLE",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/facets": {
      "get": {
        "operationId": "facets",
        "summary": "Filter options with contextual counts, driving the filter sheet.",
        "description": "Facet values and counts for the current filter context (cities, zones, amenities, workspace types, operators). Use this to discover valid filter values before listing. No API key.",
        "tags": [
          "facets"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "de",
                "es"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200,
              "pattern": "^[a-z0-9-]+$"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200,
              "pattern": "^[a-z0-9-]+$"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200,
              "pattern": "^[a-z0-9-]+$"
            }
          },
          {
            "name": "operator",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200,
              "pattern": "^[a-z0-9-]+$"
            }
          },
          {
            "name": "pricingOptionType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private_office",
                "exclusive_bereich",
                "fix_desk",
                "flex_desk",
                "day_pass",
                "meeting_room",
                "virtual_office",
                "event_space",
                "membership"
              ]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "EUR",
                "GBP",
                "USD",
                "CHF",
                "VES",
                "AED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "facets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "enum": [
                                  "country",
                                  "city",
                                  "zone",
                                  "operator",
                                  "pricingOptionType",
                                  "amenities"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "values": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 200,
                                      "pattern": "^[a-z0-9_-]+$"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "count": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 9007199254740991
                                    }
                                  },
                                  "required": [
                                    "value",
                                    "label",
                                    "count"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "key",
                              "label",
                              "values"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "priceRange": {
                          "type": "object",
                          "properties": {
                            "min": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number",
                                  "minimum": 0
                                },
                                "currency": {
                                  "type": "string",
                                  "enum": [
                                    "EUR",
                                    "GBP",
                                    "USD",
                                    "CHF",
                                    "VES",
                                    "AED"
                                  ]
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ],
                              "additionalProperties": false
                            },
                            "max": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number",
                                  "minimum": 0
                                },
                                "currency": {
                                  "type": "string",
                                  "enum": [
                                    "EUR",
                                    "GBP",
                                    "USD",
                                    "CHF",
                                    "VES",
                                    "AED"
                                  ]
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "min",
                            "max"
                          ],
                          "additionalProperties": false
                        },
                        "capacityRange": {
                          "type": "object",
                          "properties": {
                            "min": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "max": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "min",
                            "max"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "facets"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "contractVersion": {
                          "type": "string"
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageSize": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "total": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageCount": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "page",
                            "pageSize",
                            "total",
                            "pageCount"
                          ],
                          "additionalProperties": false
                        },
                        "truncated": {
                          "type": "boolean"
                        },
                        "seed": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "contractVersion"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "UPSTREAM_UNAVAILABLE",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-cache": {
          "maxAge": 600,
          "staleWhileRevalidate": 3600
        }
      }
    },
    "/v1/geo/bootstrap": {
      "get": {
        "operationId": "geoBootstrap",
        "summary": "Countries, cities and zones index. Small and long-lived.",
        "description": "The full geography index: countries, cities and zones with slugs. Call once and cache; it changes rarely. Use the slugs as filter values on listProperties. No API key.",
        "tags": [
          "geo"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "de",
                "es"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "countries": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 200,
                                "pattern": "^[a-z0-9-]+$"
                              },
                              "name": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string",
                                "minLength": 2,
                                "maxLength": 2
                              },
                              "propertyCount": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "slug",
                              "name",
                              "code",
                              "propertyCount"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "cities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 200,
                                "pattern": "^[a-z0-9-]+$"
                              },
                              "name": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string",
                                "minLength": 2,
                                "maxLength": 2
                              },
                              "propertyCount": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              "center": {
                                "type": "object",
                                "properties": {
                                  "lat": {
                                    "type": "number"
                                  },
                                  "lng": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "lat",
                                  "lng"
                                ],
                                "additionalProperties": false
                              },
                              "icon": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "width": {
                                    "type": "integer",
                                    "exclusiveMinimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "height": {
                                    "type": "integer",
                                    "exclusiveMinimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "alt": {
                                    "type": "string"
                                  },
                                  "thumbHash": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "url",
                                  "width",
                                  "height",
                                  "alt"
                                ],
                                "additionalProperties": false
                              },
                              "zones": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "slug": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 200,
                                      "pattern": "^[a-z0-9-]+$"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "propertyCount": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 9007199254740991
                                    }
                                  },
                                  "required": [
                                    "slug",
                                    "name",
                                    "propertyCount"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "slug",
                              "name",
                              "countryCode",
                              "propertyCount",
                              "center",
                              "zones"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "currencies": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "string",
                            "enum": [
                              "EUR",
                              "GBP",
                              "USD",
                              "CHF",
                              "VES",
                              "AED"
                            ]
                          }
                        }
                      },
                      "required": [
                        "countries",
                        "cities",
                        "currencies"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "contractVersion": {
                          "type": "string"
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageSize": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "total": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageCount": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "page",
                            "pageSize",
                            "total",
                            "pageCount"
                          ],
                          "additionalProperties": false
                        },
                        "truncated": {
                          "type": "boolean"
                        },
                        "seed": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "contractVersion"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "UPSTREAM_UNAVAILABLE",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-cache": {
          "maxAge": 3600,
          "staleWhileRevalidate": 86400
        }
      }
    },
    "/v1/health": {
      "get": {
        "operationId": "health",
        "summary": "Liveness probe; reports the deployed build sha.",
        "description": "Unauthenticated liveness check for the CoworkingView catalogue API. Returns the deployed git sha so a caller can confirm which build is serving traffic. No API key. Use this to verify the public API is reachable before issuing catalogue queries.",
        "tags": [
          "health"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "ok"
                        },
                        "sha": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "sha"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "contractVersion": {
                          "type": "string"
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageSize": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "total": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageCount": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "page",
                            "pageSize",
                            "total",
                            "pageCount"
                          ],
                          "additionalProperties": false
                        },
                        "truncated": {
                          "type": "boolean"
                        },
                        "seed": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "contractVersion"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "UPSTREAM_UNAVAILABLE",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
                        "CLIENT_TOO_OLD",
                        "IDEMPOTENCY_KEY_CONFLICT"
                      ]
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "traceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/leads/inquiry": {
      "post": {
        "operationId": "inquiry",
        "summary": "Property inquiry (single property or shortlist).",
        "description": "Create a lead for one space or a shortlist. This is the only write most agents need. Requires a Turnstile challenge token in production (CHALLENGE_FAILED if it is missing or invalid). CoworkingView forwards the enquiry to the operator; it does not broker the contract. Safe to retry: send an `Idempotency-Key` header (any unique string, e.g. a UUID per logical submission) and a retried request with the SAME key and body returns the original response without creating a second lead. The same key reused with a DIFFERENT body is a client bug and returns 422 IDEMPOTENCY_KEY_CONFLICT rather than guessing which body to honour. Omitting the header is fine — behaviour is unchanged and a request without one is executed every time.",
        "tags": [
          "leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "email": {
                    "type": "string",
                    "maxLength": 200,
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "phone": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "company": {
                    "type": "string",
                    "maxLength": 160
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "en",
                      "de",
                      "es"
                    ]
                  },
                  "attribution": {
                    "type": "object",
                    "properties": {
                      "firstTouch": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "lastTouch": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "source": {
                        "type": "string",
                        "enum": [
                          "web",
                          "app"
                        ]
                      },
                      "campaign": {
                        "type": "string",
                        "maxLength": 120
                      },
                      "viewedProperties": {
                        "maxItems": 50,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200,
                          "pattern": "^[a-z0-9-]+$"
                        }
                      }
                    },
                    "required": [
                      "source"
                    ]
                  },
                  "challengeToken": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "website": {
                    "type": "string",
                    "maxLength": 0
                  },
                  "properties": {
                    "minItems": 1,
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200,
                      "pattern": "^[a-z0-9-]+$"
                    }
                  },
                  "desks": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 1000
                  },
                  "moveInDate": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "locale",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "received": {
                          "type": "boolean",
                          "const": true
                        },
                        "reference": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "received",
                        "reference"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "contractVersion": {
                          "type": "string"
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageSize": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "total": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "pageCount": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "page",
                            "pageSize",
                            "total",
                            "pageCount"
                          ],
                          "additionalProperties": false
                        },
                        "truncated": {
                          "type": "boolean"
                        },
                        "seed": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "contractVersion"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "detail": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "VALIDATION_FAILED",
                        "NOT_FOUND",
                        "RATE_LIMITED",
                        "CHALLENGE_FAILED",
                        "UPSTREAM_UNAVAILABLE",
                        "INTERNAL_ERROR",
[...]
